:root {
  --orange: rgb(255, 185, 56);
}

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.calContainer {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.display {
  padding: 5px;
  width: 390px;
  height: 40px;
  background-color: silver;
  color: white;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 18px;
}

.buttons button {
  width: 100px;
  height: 50px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.056);
}

.buttons button:nth-child(4n) {
  background-color: var(--orange);
}

.buttons button:nth-last-child(3) {
  width: 200px;
}

.buttons button:nth-last-child(1) {
  background-color: var(--orange);
}
